{% extends 'admin/admin.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}

<div class="pasta-container" style="display: flex; flex-direction: column">

    <p class="mt-5">
        <a class="btn btn-primary btn-sm" href="{{ path('admin.recipe.create') }}">Créer une recette</a>
    </p>

    <table class="mt-5">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>
                    <a href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">{{recipe.title}}</a>
                </td>
                <td>
                    <div class="d-flex gap-1 flex-col">
                        <a class="btn btn-primary btn-sm" href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">Modifier</a>
                    <form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">  
                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h5 class="mt-5">Temps total des recettes : {{ recipeTotalDuration[0].total }} min</h5>

</div>

{% endblock %}
